.home-heading,
.pancake-heading,
.sushi-heading,
.steak-heading {
    text-align: center;
    font-size: 48px; 
}

.home-heading {
    color: rgb(131, 48, 48);
    background-color: rgb(182, 182, 74);  
}

.pancake-heading {
    color: yellow;
    background-color: rgb(56, 16, 16);
}

.sushi-heading {
    color: rgb(116, 78, 9);
    background-color: rgb(33, 201, 33);
}

.steak-heading {
    color: rgb(206, 198, 198);
    background-color: rgb(56, 16, 16);
}

div {
    text-align: center;
}

#pancake-image {
    height: 385px;
    width: 470px;
}

#sushi-image {
    height: auto;
    width: 600px;
}

#steak-image {
    height: 520px;
    width: 640px;
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    font-size: 26px;
}

ul li,
ol li,
p {
    font-size: 18px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

p {
    text-align: center;
}

.return {
    font-weight: bold;
    font-size: 16px;
}

ul .home-list {
    font-size: 24px;
}